<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Økonomi</title>
    <link rel="stylesheet" type="text/css" href="mycss.css"/>
</head>
<body>
<h1>Danmark Mod Madspild</h1>
<div class="topnav">
    <a class="active" href="">Forside</a>
    <a href="/fakta">Fakta om Madspild</a>
    <a href="/spare">Så meget kan du spare...</a>
    <a href="/omos">Om os</a>
</div>
<br />
<h2>Vidste du, at...</h2>
<p>Vi spilder mad for op mod 10.000 kr. pr. familie i Danmark. Faktisk spilder den gennemsnitlige danske familie mad for 7.200 kr.</p>
<p>Det svarer ca. til, at hvert familiemedlem spilder mad for 1.800 kr. årligt.</p>
<h3>Hvor meget I som familie gennemsnitligt spilder ud fra antal familiemedlemmer kan I udregne her:</h3>
<form action="/spare" method="post">
<input type="text" name="familiemedlemmer" placeholder="Familiemedlemmer" />
<input type="submit" value="Udregn" />
</form>
<h2>Her er en tabel over, for hvor meget mad danskerne gennemsnitligt spilder dagligt i kroner. ift. aldersgruppe:</h2>
<table>
    <tr>
        <th>Aldersgruppe</th>
        <th>Kroner</th>
    </tr>
    <tr>
        <th>16-24</th>
        <th>29</th>
    </tr>
    <tr>
        <th>25-34</th>
        <th>33</th>
    </tr>
    <tr>
        <th>35-44</th>
        <th>28</th>
    </tr>
    <tr>
        <th>45-55</th>
        <th>29</th>
    </tr>
    <tr>
        <th>55-64</th>
        <th>37</th>
    </tr>
    <tr>
        <th>65+</th>
        <th>27</th>
    </tr>
</table>
<h3>Hvor meget mad, du som individ spilder over en given periode, kan du udregne her ud fra din alder og antal dage:</h3>
<form action="/spare1" method="post">
<input type="text" name="alder" placeholder="Alder" />
<input type="text" name="dage" placeholder="Periode i antal dage" />
<input type="submit" value="Udregn" />
</form>
</body>
</html>