<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Frontpage</title>
    <link rel="stylesheet" type="text/css" href="mycss.css"/>
</head>
<body>
<div class="overskrift"><h1>Danmark Mod Madspild</h1></div>

    <th:block th:include="home/includes/topnav :: topnav"></th:block>

    <h2> Viste du at? </h2>
    <p class="card p-2 m-1 fg-2">
        Hver dag bliver der smidt betydelige mængder mad ud i de danske husholdninger.
        <br> Men det største madspild sker, inden maden bliver solgt til forbrugerne,
        <br>dvs. i processen fra produktion til salg
    </p>

    <h2> Hvad du selv kan gøre: </h2>
    <p class="card p-2 m-1 fg-2">
        Som forbruger kan du selv gøre noget for at undgå madspild:
        <br> Planlæg dine madindkøb, og køb kun den mad, der er behov for.
        <br> Spis lokale produkter, så skal de ikke holde sig længe under transport.
        <br> Bliv bedre til at bruge rester i nye retter, men hold stadig øje med holdbarheden.
        <br> Opbevar maden ved den rigtige temperatur, så du smider mindre mad ud, der er blevet dårlig.
        <br> Køl madrester, der skal gemmes, hurtigt ned, eller frys dem evt. i små pakker.
    </p>


    <h2> Hvorfor gør vi det her? </h2>
    <p class="card p-2 m-1 fg-2">
        Madspild, er stort problem i vores samfund både i internationalt og nationalt.
        <br> Vi synes at problematiken ikke bliver taget seriøst nok og vi har derfor lavet,
        <br> en hjemmeside til dig som privatforbruger, til at mindske madspild i din hverdag!
    </p>

    <div style="max-height: 500px" class="display-center">
        <img id="madspilIVerden.png" class="card image-size m-1" style="cursor: pointer;" src="/pictures/madspildIVerden.png" alt="statistik" width="610 ", height="370">
        <img id="FaldetMadspild.png" class="card image-size m-1" style="cursor: pointer;" src="/pictures/FaldetMadspild.png" alt="madSpild" width="650" , height="370">
    </div>
    <p class="card p-2 m-1 fg-2">
        Som det ses på billedet, er madspild i gennem årene ikke så stor en forskel
        <br> 45.4% ca i år 2018 og så ned til ca 45% i 2020, disse tal er ikke så overvælende.
        Det er derfor utrolig vigtigt, at tage madspild alvorligt. Vi har samlet nogle gode råd!
        <br> til dig som privat forbruger, og til dig som er i virksomhed!
        <br>
        <br> Der ligger nogen gode råd under "hvad du selv kan gøre" Vi har samlet råd til virksomheder under "info for virksomheder"
    </p>

</body>
</html>