<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Supermarked</title>
    <link rel="stylesheet" type="text/css" href="mycss.css">
</head>
<body>
<div id="container">
    <div id="main">
<div class="overskrift"><h1><a href="/">Danmark Mod Madspild</a></h1></div>

<th:block th:include="home/includes/topnav :: topnav"></th:block>

        <br>
        <br>
<h2>Til kamp mod madspild</h2>

<div class="box2">
    På varernes vej fra råstof til butik er det produktionen af varerne, som bidrager til det største CO2-udslip;
    faktisk sætter selve produktionen et væsentligt større klimaaftryk end f.eks. transport og emballage.
    Det gør madspild til den største klimabelastning i en vares værdikæde, og som Danmarks
    største dagligvarekoncern arbejder vi derfor målrettet og ambitiøst med at reducere madspild.
    For kan vi minimere madspild, kan vi minimere overproduktion og dermed CO2-udledningen.
</div>
        <br>
        <br>
<h3>Sammen om madspild</h3>

 <div class="box2">
    Mindre madspild skal have fokus i alle de led af forretningen, som i selv har kontrol over:
    Bl.a. skal i være præcise, når i bestiller varer, så i ikke køber for meget hjem til butikkerne.
    I skal sætte prisen ned på varer, der er tæt på udløbsdatoen, så de kan sælges i stedet for at blive kasseret.
    Og i skal være omhyggelige med, at varerne ikke bliver beskadiget under transport, så de ikke kan sælges i butikken.
    Sker det alligevel, skal i have et rigtig godt samarbejde med FødevareBanken og Wefood (Folkekirkens Nødhjælp),
    der henter de varer, som ikke kan sælges, men stadig gøre gavn – så i, i fællesskab tager ansvar for at gøre en forskel for klimaet.

 </div>
 </div>
 </div>
<br>
<br>
<th:block th:include="home/includes/footer :: footer"></th:block>
</body>
</html>