<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Om os</title>
    <link rel="stylesheet" type="text/css" href="mycss.css">
</head>
<body>
<div class="overskrift"><h1>Danmark Mod Madspild</h1></div>

    <th:block th:include="home/includes/topnav :: topnav"></th:block>

    <h2>Hvem er vi:</h2>
    <p class="card p-2 m-1 fg-2">
        <br>Danmark Mod Madspild er Danmarks største organisation mod madspild målt på antal af
        <br>gennemførte aktiviteter og projekter i hele værdikæden fra jord til bord,
        <br>antal af danske og internationale medieomtaler samt antal af følgere på de sociale medier.
        <br>Danmark Mod Madspild blev stiftet i 2008 og har igangsat
        <br>kampen mod madspild i Danmark og bragte Danmarks kamp mod madspild på verdenskortet.
        <br>
    </p>

    <h2>Vores formål:</h2>
    <p class="card p-2 m-1 fg-2">
        <br>Danmark Mod Madspild’s formål er at arbejde bredt i hele værdikæden fra jord til bord,
        <br>både nationalt og internationalt, for at frembringe, finde og udbrede konkrete løsninger,
        <br>som kan forebygge og minimere madspild. Siden 2008 har vi både igangsat, gennemført og medvirket i over 200 lokale,
        <br>landsdækkende, nationale og internationale projekter, events, kampagner, overskudsmadindsamlinger, analyser,
        <br>debatter og mange andre aktiviteter i kampen mod madspild i hele værdikæden fra jord til bord.
    </p>
</body>
</html>