<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:fragment="footer">
    <footer id="footer">
        <div id="wrapper">
            <div id="second">
                <h3> Adresse: </h3>
                Rosbjergvej 33
                <br> 8220 Brabrand
                <br> Danmark
                <br>
                <br>Hvis du vil læse mere om os
                <br> <a href="http://localhost:8080/omos"> tryk her </a>
                <br> Kontakt os her, for spørgsmål:
                <br><a href="mailto:alex8943@stud.kea.dk">Mail os</a>
            </div>

            <div id="first">

                <h3> Vigtigt for private: </h3>
                Vil du blive mere økonomisk, med mad?
                <br> <a href="http://localhost:8080/spare"> Tryk her, hvis du er privat</a>

                <br>
                <br>
                <h3> Vigtigt for virksomheder: </h3>
                Vil du have din virksomhed blive mere økonomisk?
                <br> <a href="http://localhost:8080/supermarked"> Tryk her, for supermarket</a>
                <br> <a href="http://localhost:8080/restaurations"> Tryk her, for resturant</a>
            </div>
        </div>
    </footer>
</div>
</body>
</html>