<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container"></div>
    <div th:fragment="topnav">
        <div class="topnav">
            <a class="active" href="/">Forside</a>
            <a href="/fakta">Fakta om Madspild</a>
            <a href="/spare">Så meget kan du spare...</a>
            <a href="/omos">Om os</a>
            <div class="dropdown">
                <button class="dropbtn">Info for virksomheder
                <i class="active"></i>
                </button>
                <div class="dropdown-content">
                    <a href="/supermarked">Supermarkedet</a>
                    <a href="/restaurations">Restaurations-branchen</a>
                </div>
            </div>
            <a href="https://www.facebook.com/Madspild"><img src="/pictures/fb1.png" width="20" height="20" th:align="right"></a>
            <a href="https://twitter.com/selinajuul?lang=da"><img src="/pictures/tw.png" width="20" height="20" th:align="right"></a>
        </div>
    </div>
</div>

</body>
</html>