<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Restaurationsbranchen</title>
    <link rel="stylesheet" type="text/css" href="mycss.css"/>
</head>
<body>
<div class="overskrift"><h1>Danmark Mod Madspild</h1></div>

<th:block th:include="home/includes/topnav :: topnav"></th:block>
<h2>Fakta om restaurationsbranchen</h2>
<p>I servicesektoren er der et årligt madspild på 227.000 ton, heraf 163.000 ton fra detailhandlen, 29.000 ton fra hoteller og restauranter og 31.000 ton fra institutioner og storkøkkener om året. Madspild fra primærproduktionen udgør 100.000 ton pr. år, mens fødevareindustrien står for et årligt madspild på 133.000 ton.</p>
<p style="font-size: 10px;"><i>kilde: Miljøministeriet, Regeringens Strategi for affaldsforebyggelse ”Danmark uden affald II” - tal fra 2015</i></p>
<h3>Her er en oversigt over hvor meget madspild, der er i de forskellige restaurationsbrancher årligt:</h3>
<pre>
    Hoteller (i alt): 8.400 ton
    Kroer: 4.200 ton
    Københavnerhotel med restaurant: 700 ton
    Hotel med restaurant i større provinsby: 700 ton
    Kursus- og konferencehotel: 2.500 ton
    Garnihoteller samt Bed & Breakfast: 300 ton
    Restauranter (i alt): 21.100 ton
    Traditionelle restauranter: 13.700 ton
    Konceptrestauranter: 2.100 ton
    Cafeer (store): 3.400 ton
    Cafeer (små): 200 ton
    Pizzeriaer mv.: 700 ton
    Institutioner (i alt): 21.000 ton
    Folkeskoler o.l.: 10.700 ton
    Hospitaler: 1.100 ton
    Plejehjem o.l.: 3.700 ton
    Børneinstitutioner: 5.500 ton
    Kantiner/catering: 10.200 ton
</pre>
<p>Virksomheder med en restaurantomsætning over 15 mio. kr. vurderer generelt, at madspild i forbindelse med tilberedning af maden i nogen grad eller i høj grad er en udfordring. Overproduktion til buffet er medvirkende til madspild for særligt overnatningsvirksomheder med en stor restaurantomsætning. Hele 57% af disse angiver, at de i høj grad eller i meget høj grad ser overproduktion som problematisk i forhold til madspild. Det tilsvarende tal for overnatningsvirksomheder med en lille restaurantomsætning er blot 11%. Affald fra gæster/tallerkenrester er en anden kilde til madspild uanset virksomhedens størrelse, men også på dette område synes der at være en tendens til, at overnatningsvirksomheder med en stor restaurantomsætning ser de største udfordringer. I forbindelse med konference- og mødeservering generelt er det ligeledes de store overnatningsvirksomheder som i størst grad oplever udfordringer med madspild. </p>
<p style="font-size: 10px;"><i>kilde: Miljøstyrelsen, rapporten ”Kortlægning af madaffald i servicesektoren – Detailhandel, restauranter og storkøkkener” – tal fra 2014</i></p>
<p>Mindre størrelse tallerken betyder mindre madspild. En række hoteller i Norge har reduceret deres tallerkenstørrelse - og dette har medført at madspild er blevet reduceret med 19,5%.</p>
<p style="font-size: 10px;"><i>kilde: GreeNudge Norge - tal fra 2015</i></p>
</body>
</html>