<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Fakta om Madspild</title>
    <link rel="stylesheet" type="text/css" href="mycss.css"/>
</head>
<body>
<div class="overskrift"><h1><a href="/">Danmark Mod Madspild</a></h1></div>

<div id="container">
    <div id="main">
    <th:block th:include="home/includes/topnav :: topnav"></th:block>

    <h2>Fakta om Madspild</h2>
    <p class="card p-2 m-1 fg-2">
        Madaffald er alt affald, der stammer fra mad. Madaffald kan opdeles i to: madspild og øvrigt madaffald. Madspild er fødevarer, der kunne være spist,
        <br>men i stedet er blevet smidt ud. Øvrigt madaffald er de dele af fødevarer, der ikke er egnet til at spise. Eksempler på madspild er brød,
        <br>hel frugt og grønt og middagsrester. Eksempler på øvrigt madaffald er æggeskaller, osteskorper, kaffegrums og kernehuse.
    </p>

    <p class="card p-2 m-1 fg-2">
        En tredjedel af alt mad går til spilde. Det globale madspild udgør 1,3 milliarder ton om året og er nok til at brødføde 3 milliarder mennesker.
        <br>kilde: FN’s Levnedsmiddel- og Landbrugsorganisation FAO, rapport ”Global Food Losses and Food Waste”
        <br>
        <br>I år 2050 runder verdens befolkning 9 mia. mennesker – til den tid skal verdens fødevareproduktion øges med 70% for at efterkomme behovet.
        <br>Reduktion af madspild og udnyttelse af den producerede mad er derfor blandt de centrale forudsætninger.
        <br>kilde: FN’s Levnedsmiddel- og Landbrugsorganisation FAO, rapport ”Global Food Losses and Food Waste”
        <br>
        <br>En af del-målene blandt FN’s 17 nye mål for fremtiden, Sustainable Development Goals, handler om madspild:
        <br>“Goal 12: Ensure sustainable consumption and production patterns”. Del-målet 12.3 indebærer at i 2030,
        <br>skal det globale madspild per indbygger halveres på detail- og forbrugerniveauer – samt skal madspild reduceres i produktions- og forsyningskæder,
        <br>herunder fødevaretab efter høsten (post harvest losses).
        <br>kilde: FN
        <br>
        <br>I udviklingslandene sker 40% af madspild ved efter-høst og i forarbejdnings led (fødevaretab),
        <br>mens i de industrialiserede lande sker mere end 40% af madspild ved detail- og forbruger led.
        <br>kilde: FN’s Levnedsmiddel- og Landbrugsorganisation FAO, rapport ”Global Food Losses and Food Waste”
        <br>
        <br>Madspild er verdens tredjestørste CO2-synder. Ubrugte madvarer er skyld i 3,3 milliarder ton CO2-udledning hvert år.
        <br>Hvis man sammenligner den CO2-udledning, som madspild er skyld i, vil det kun være USA og Kina, der udleder mere.
        <br>kilde: FN’s Levnedsmiddel- og Landbrugsorganisation FAO, rapport ”Food Wastage Footprint: Impacts on Natural Resources”
        <br>
        <br>Europa-Parlamentet fik vedtaget at andelen af madspild skal halveres inden udgangen af 2030.
        <br>kilde: Europa-Parlamentet
        <br>
        <br>I år 2030 skal USA’s madspild være halveret i forhold til i dag.
        <br>kilde: U.S. Department of Agriculture og Environmental Protection Agency
    </p>
    </div>
</div>
<th:block th:include="home/includes/footer :: footer"></th:block>
</body>
</html>